.navbar{
    display: flex;
    justify-content: space-around;
    height: 40px;
}



.nav a{
    justify-content: space-around;
    margin: 19px;
    color: black;
}
.profile{
    background-color: hsl(256, 26%, 20%);
    display: flex;
    width: 100%;
    padding: 30px 100px;
}
.profile img{
    width: 400px;
    height: 600px;
    position: relative;
    top: 190px;
    left: 300px;
}
.prof{
    width: 50%;
    position:relative;
    top: 200px;
    font-size: large;
    font-size: 30px;
}
.main{
    margin: 100px;
  padding: 50px;
  display: flex;
    
  }
  .mai{
    font-size: 25px;
    margin: 70px;
   
    
    
    
    
  }
  #name{
    position: relative;
    top: 50px;
    display: flex;
    left: 160px;
    font-size:  80px;
  }
  .master{
    background-color: hsl(256, 26%, 20%);
    padding: 10px 20px;
    margin: 100px;
    display: flex;
  }
  .master button{
    position: relative;
    left: 500px;
    background-color: hsl(256, 26%, 20%);
    color: aliceblue;
    font-size: 20px;
  }
  .master h1{
    color: aliceblue;
    width: 800px;
    font-size: 90px;
  }
  .finsh{
    display: flex;
    width: 100%;
    padding: 30px;
    background-color:hsl(216, 12%, 84%);
  }
  .icon{
    position: relative;
    left: 1500px;
    
  }
  .fin{
    margin: 70px;
    font-size: 25px;
    
  }
  .fin h3{
    color: darkgray;
  }
  
